@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Assignment";
}
@model Assignment
<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-4">Create Assignment</h3>
        <form method="post" asp-controller="Assignment" asp-action="Create">
            <input type="hidden" name="ClassSlotId" asp-for="@Model.ClassSlotId" />
            <div class="mb-3">
                <label for="code" class="form-label">Title</label>
                <input type="text" asp-for="@Model.Title" id="code" name="Title" class="form-control" placeholder="Enter title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" asp-for="@Model.Description" id="description" name="Description" class="form-control" placeholder="Enter description">
            </div>

            <div class="mb-3">
                <label for="dueDate" class="form-label">DueDate</label>
                <input type="text" asp-for="@Model.DueDate" id="dueDate" name="DueDate" class="form-control" placeholder="Enter due date" required>
            </div>
            <button class="btn btn-primary w-100">Create</button>
            <div class="text-danger text-center mt-2">@ViewBag.Message</div>
        </form>
    </div>
</div>
